	<div id="body">
		<div class="content">
			<div class="section">
				<div class="contact">
					<h2>Contact us</h2>
					<p>
						You need to fill the correct detail of yours.
					</p>
					<form action="/LMS/index">
						<label for="name"> <span>name</span>
							<input type="text" name="name" id="name">
						</label>
						<label for="email"> <span>email</span>
							<input type="text" name="email" id="email">
						</label>
						<label for="subject"> <span>subject</span>
							<input type="text" name="subject" id="subject">
						</label>
						<label for="message"> <span>comment</span>
							<textarea name="message" id="message"></textarea>
						</label>
						<input type="submit" name="send" id="send" value="">
					</form>
				</div>
			</div>
			<div class="sidebar">
				<div class="contact">
					<div>
						<a href="gallery.html"><img src="~/images/lava2.jpg" alt=""></a>
					</div>
					<h4>contact information</h4>
					<ul>
						<li>
							<b>address:</b> <span>426 Grant Street Pine Hill, TX 75652</span>
						</li>
						<li>
							<b>phone:</b> <span>903-889-6313</span>
						</li>
						<li>
							<b>fax:</b> <span>903-889-6313</span>
						</li>
						<li>
							<b>email:</b> <span><a href="http://www.freewebsitetemplates.com/misc/contact">info@carrepairshop.com</a></span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
