


	<div id="body">
		<div class="body">
			<img src="~/images/repairs.jpg" alt="">
			<div>
				<h1>lorem ipsum <span>dolor sit amet</span></h1>
				<p>
					Consectetur adipiscing elit. Morbi luctus iaculis congue. Suspendisse vel faucibus sapien. Phasellus eu vulputate risus. Sed id enim sit amet ante gravida tincidunt iaculis eget tortor. Nullam tempor ultrices risus at rutrum. Integer metus nunc, convallis a posuere eget, placerat mollis ante
				</p>
				<a href="/LMS/services">issue a book</a>
			</div>
		</div>
		<div class="footer">
			<div>
				<h2><span>featured books</span></h2>
				<ul>
					<li>
						<a href="/LMS/services" class="figure"><img src="~/images/engine-maintenace.png" alt=""></a>
						<div>
							<h3><a href="/LMS/services">engine maintenance</a></h3>
							<p>
								Nulla sagittis viverra erat id placerat. Aenean interdum erat urna. Nam lectus quam, dictum a vehicula ut, congue ac arcu.
							</p>
						</div>
					</li>
					<li>
						<a href="/LMS/services" class="figure"><img src="~/images/condition-services.png" alt=""></a>
						<div>
							<h3><a href="services.html">air condition services</a></h3>
							<p>
								Nulla sagittis viverra erat id placerat. Aenean interdum erat urna. Nam lectus quam, dictum a vehicula ut, congue ac arcu.
							</p>
						</div>
					</li>
					<li>
						<a href="/LMS/services" class="figure"><img src="~/images/wheel-alignment.png" alt=""></a>
						<div>
							<h3><a href="services.html">wheel alignment</a></h3>
							<p>
								Nulla sagittis viverra erat id placerat. Aenean interdum erat urna. Nam lectus quam, dictum a vehicula ut, congue ac arcu.
							</p>
						</div>
					</li>
					<li>
						<a href="/LMS/services" class="figure"><img src="~/images/transmission-repair.png" alt=""></a>
						<div>
							<h3><a href="/LMS/services">transmission repair and replacement</a></h3>
							<p>
								Nulla sagittis viverra erat id placerat. Aenean interdum erat urna. Nam lectus quam, dictum a vehicula ut, congue ac arcu.
							</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	

